.root {
  margin-top: 5px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  width: 70px;
}

.text-wrapper {
  margin-left: 10px;
}

.icon {
  path {
    transition: 300ms;
  }

  &-stroke {
    &:hover {
      path {
        stroke: #ffffff;
      }
    }
  }

  &-fill {
    &:hover {
      path {
        fill: #ffffff;
      }
    }
  }
}

.log-out {
  display: flex;
  align-items: center;
  margin-top: auto;
  cursor: pointer;

  &-text {
    margin-left: 7px;
  }
}
