html,
body {
  width: 100%;
  height: 100%;
  color: white;
  // font-size: 62.5%; // 1rem = 10px

}

body {
  margin: 0;
  padding: 0;

  background: $background_color;
  color: #fff;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#root {
  height: 100%;
}
.content-wrapper {
  // margin: 2rem;
  max-width: calc(1440px + 12rem);
  margin-left: auto;
  margin-right: auto;
}